@tailwind base;

@tailwind components;

.btn-big {
    @apply bg-white border border-gray-200 flex flex-col h-48 items-center justify-center mx-4 p-4 rounded w-48;
    transition: .5s all;
}
.btn-big:hover {
    @apply border-booting-lightblue shadow-xl text-booting-lightblue;
    transform: scale(1.05);
}
.btn-big:hover svg{
    /*fill: theme('colors.booting-lightblue')*/
}

@tailwind utilities;


/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,800&display=swap');*/
@import url('//fonts.googleapis.com/css2?family=Manrope:wght@300;300,400,600&display=swap');



body {
   /*background-color: #0A5EA2;*/
   font-size: 14px;
   font-family: 'Manrope', sans-serif;
}
.transition-all {
    transition: all .3s linear;
}

 pre {
   background-color: #2C456A;
}


.spinner {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid #03A3EC;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.spinner .title {
    position: absolute;
    width: max-content;
    transform: translate(-50%, 250%);
    left: 50%;
}
.spinner:before, .spinner:after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    background-color: #03A3EC;
    border-radius: 1.5px;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}
.spinner:before {
    height: 9px;
    left: 11.5px;
    top: 50%;
    -webkit-animation: spin 2000ms linear infinite;
    animation: spin 2000ms linear infinite;
}
.spinner:after {
    height: 12px;
    left: 11.5px;
    top: 50%;
    -webkit-animation: spin 500ms linear infinite;
    animation: spin 500ms linear infinite;
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner_overlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}




.btn-big svg {
    width: 5rem;
    height: 5rem;
}

.btn-big.node svg {
    padding: 1.2rem;
}
.btn-big.apache svg {
    padding: 0.8rem;
}
.btn-big.mysql svg {
    padding: 1.2rem;
}
.summary_span {
    @apply font-semibold text-booting-lightblue;
}

button.disabled {
    opacity: 0.7;
    @apply cursor-not-allowed
}
